
{% extends "app/base.html" %}
{% load staticfiles %}
{% block media %}
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <script src="{% static 'app/jquery.min.js' %}"></script>
    <script src="{% static 'app/moment-with-locales.js' %}"></script>
    <script src="{% static 'app/URI.js' %}"></script>
    <script src="{% static 'app/proj4-compressed.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src="{% static 'app/proj4leaflet.js'%}"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script>
        var SERIES = {{ observations|safe }};
    </script>

{% endblock media %}
{% block content %}
    <div id="app">
        <div id="switch_nav">
            <button>Kartta</button>
            <button>Osoitteet</button>
        </div>
        <div id="map"></div>
        <div id="observators">
        <ul>
            {% for obs in observators %}
                <li>
                    <button value="{{ obs.name }}" title="{{ obs.name }}">
                        {% if obs.address %}{{ obs.address }}
                        {% else %}{{ obs.name }}{% endif %}
                    </button>
                </li>
            {% endfor %}
        </ul>
        </div>
         <div id="container">
             <div id="container_mobiletoolbar"><button>X</button></div>
             <div id="timerange_toolbar">
                <button type="button" value="3">3 kuukautta</button>
                <button type="button" value="6" class="active">6 kuukautta</button>
                <button type="button" value="12">1 vuosi</button>
                <button type="button" value="24">2 vuotta</button>
                <button type="button" value="all">kaikki</button>
            </div>
             <div id="contained_chart"></div>
         </div>
    </div>
    <script src="{% static "app/observations.js" %}"></script>
    <script src="{% static "app/servicemap.js" %}"></script>
    <script src="{% static "app/app.js" %}"></script>
{% endblock content %}