
{% extends "app/base.html" %}
{% load staticfiles %}
{% block media %}
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <script src="{% static 'app/jquery.min.js' %}"></script>
    <script src="{% static 'app/proj4-compressed.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src="{% static 'app/proj4leaflet.js'%}"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script>
        var SERIES = {{ observations|safe }};
    </script>

{% endblock media %}
{% block content %}
     <div id="map" style="float: left;"></div>
     <div id="container" style="width:35em; height: 25em; margin: 0 auto"></div>

    <script src="{% static "app/observations.js" %}"></script>
    <script src="{% static "app/servicemap.js" %}"></script>
{% endblock content %}