
body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h1 { font-family: "Comic Sans MS", "Comic Sans", cursive; }

#app {
    position: relative;
}

#container {
    background: white;
}

#container_mobiletoolbar {
    display: none;
}

#contained_chart {
    /*width:35em; height: 25em;*/
    margin: 0;
    padding: 0;
}

.mobile #container {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 2em;
}

.mobile #container_mobiletoolbar {
    text-align: right;
    display: block;
    margin-right: 1em;
}

#timerange_toolbar {
    background: white;
}

#timerange_toolbar button.active, #observators button.active, #switch_nav button.active, .mobile #container_mobiletoolbar button {
    color: blue;
    font-weight: bold;
}

#map {
    float: left;
}

.mobile #map {
    position: relative;
    z-index: 1;
    float: none;
    top: 2em;
}

#observators {
    overflow: scroll;
    background-color: white;
}

.mobile #observators {
    z-index: 2;
    position: absolute;
    top: 2em;
    left: 0;
    display: none;
}

#logo {
    height: 2em;
}

#header h1, #header img {
    display: inline;
    font-family: ff-karbid-web-pro,"Helvetica Neue",Helvetica,Arial,sans-serif;
    vertical-align: middle;
    color: white;
    margin: 1em ;
}

#header {
    background-color: #35455F;
    margin: 0;
    padding: 10px;
}

#app {
    padding: 10px;
}

#observators li {
    margin: 0.3em 1em;
}

#observators button {
    width: 80%;
    line-height: 150%;
}

#switch_nav {
    display: none;
}

.mobile #switch_nav {
    display: block;
}

#observators_amount {
    margin: 1em;
}
